.user-name{
    color: white;
    background-color: rgb(23, 23, 23);
    font-size: 19px;
    font-weight:500;
    /* padding: 0px; */
    /* margin: 0px; */
    border: 1px dotted white;
    border-radius: 50%;

}

@media (max-width:688px) {
    .header-img{
        display: none;
    }
}